In [ ]:
# Import modules
import os
import pandas as pd
import numpy as np
# This is for creating and printing to the text file
import sys

In [3]:
# Open election data file - change folder and file name as needed
election = os.path.join('raw_data', 'election_data_2.csv')
election_df = pd.read_csv(election)
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
# Calculate vote total
total_vote_count = election_df["Voter ID"].count() 
total_vote_count

3521001

In [5]:
# List of candidates whoe received votes
candidates = election_df["Candidate"].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [6]:
# Group by candidate
grouped_candidates_df = election_df.groupby(["Candidate"])

In [7]:
# Number of votes by candidate
candidate_vote_count = grouped_candidates_df["Candidate"].count()

# Need to convert to %
percent_vote = round(grouped_candidates_df["Candidate"].count() / total_vote_count*100,)
# percent_vote = "{:.2%}".format(grouped_candidates_df["Candidate"].count() / total_vote_count)
# grouped_candidates_df.style.format({'percent_vote': '{:,.2%}'.format,})
# grouped_candidates_df['percent_vote'] = pd.Series(["{0:.2}%".format(percent_vote * 100)])
percent_vote

Candidate
Correy      20.0
Khan        63.0
Li          14.0
O'Tooley     3.0
Name: Candidate, dtype: float64

In [8]:
# Create vote summary table
vote_summary_table = pd.DataFrame({"Percentage of Votes":percent_vote,
                                   "Number of Votes":candidate_vote_count,
                                  })
sorted_vote_summary_table = vote_summary_table.sort_values("Number of Votes", ascending=False)
sorted_vote_summary_table

           Number of Votes  Percentage of Votes
Candidate
Khan               2218231                 63.0
Correy              704200                 20.0
Li                  492940                 14.0
O'Tooley            105630                  3.0

In [9]:
# Determine the winner
winner = sorted_vote_summary_table.index[0]
winner

'Khan'

In [10]:
# To print the summary data
print("Election Results")
print("-----------------------------------------------")
print("Total votes:  " + str(total_vote_count))
print("-----------------------------------------------")
print(sorted_vote_summary_table)
print("-----------------------------------------------")
print("The winner is:  " + str(winner))
print("-----------------------------------------------")

Election Results
-----------------------------------------------
Total votes:  3521001
-----------------------------------------------
           Number of Votes  Percentage of Votes
Candidate
Khan               2218231                 63.0
Correy              704200                 20.0
Li                  492940                 14.0
O'Tooley            105630                  3.0
-----------------------------------------------
The winner is:  Khan
-----------------------------------------------

In [ ]:
# Output to text file - change output file name for each election file
output_path = os.path.join('Results', 'Election_Results_2.txt')
sys.stdout=open(output_path,"w")
print("Election Results")
print("-----------------------------------------------")
print("Total votes:  " + str(total_vote_count))
print("-----------------------------------------------")
print(sorted_vote_summary_table)
print("-----------------------------------------------")
print("The winner is:  " + str(winner))
print("-----------------------------------------------")
sys.stdout.close()