In [1]:
# Import modules
import os
import pandas as pd
# This is for creating and printing to the text file
import sys

In [2]:
# Open budget file - change folder and file name as needed
budget = os.path.join('raw_data', 'budget_data_2.csv')
budget_df = pd.read_csv(budget)
budget_df.head()

       Date  Revenue
0  Jan-2009   943690
1  Feb-2009  1062565
2  Mar-2009   210079
3  Apr-2009  -735286
4  May-2009   842933

In [3]:
# Calculate the number of data rows
month_count = budget_df["Date"].count() # len(budget_df["Date"])
month_count

86

In [4]:
# Sum of monthly revenue
total_revenue = budget_df["Revenue"].sum()
total_revenue

36973911

In [5]:
# Change in monthly revenue
budget_df["Change"] = budget_df["Revenue"].diff()
budget_df.head()

       Date  Revenue     Change
0  Jan-2009   943690        NaN
1  Feb-2009  1062565   118875.0
2  Mar-2009   210079  -852486.0
3  Apr-2009  -735286  -945365.0
4  May-2009   842933  1578219.0

In [6]:
# Average, minimum, and maximum revenue change
avgChange = budget_df["Change"].mean()
minChange = budget_df["Change"].min()
maxChange = budget_df["Change"].max()
avgChange, minChange, maxChange

(-5955.305882352941, -1947745.0, 1645140.0)

In [7]:
# Reindex to avgChange
budget_df = budget_df.set_index("Change")
budget_df.head()

                Date  Revenue
Change
NaN         Jan-2009   943690
 118875.0   Feb-2009  1062565
-852486.0   Mar-2009   210079
-945365.0   Apr-2009  -735286
 1578219.0  May-2009   842933

In [8]:
# Get min and max change values and months
min_date = budget_df.loc[minChange, "Date"]
max_date = budget_df.loc[maxChange, "Date"]
print(min_date,minChange)
print(max_date,maxChange)

Jun-2014 -1947745.0
Jul-2014 1645140.0

In [9]:
# To print the summary data
print("Financial Analysis")
print("---------------------------------")
print("Total months:  " + str(month_count))
print("Total Revenue:  " + str(total_revenue))
print("Average Revenue Change:  " + str(avgChange))
print("Greatest Increase in Revenue:  " + str(max_date) + " : " + str(maxChange))
print("Greatest Decrease in Revenue:  " + str(min_date) + " : " + str(minChange))

Financial Analysis
---------------------------------
Total months:  86
Total Revenue:  36973911
Average Revenue Change:  -5955.305882352941
Greatest Increase in Revenue:  Jul-2014 : 1645140.0
Greatest Decrease in Revenue:  Jun-2014 : -1947745.0

In [ ]:
# Output to text file - change output file name for each budget file
output_path = os.path.join('Results', 'PyBank_2.txt')
sys.stdout=open(output_path,"w")
print("Financial Analysis")
print("---------------------------------")
print("Total months:  " + str(month_count))
print("Total Revenue:  " + str(total_revenue))
print("Average Revenue Change:  " + str(avgChange))
print("Greatest Increase in Revenue:  " + str(max_date) + " : " + str(maxChange))
print("Greatest Decrease in Revenue:  " + str(min_date) + " : " + str(minChange))
sys.stdout.close()